*{
    box-sizing: border-box;
    margin:0%;
    padding: 0%;
    text-align: center;
}
body{
    padding: 10px;
}
.width-100{
    width:100%;
}
.container-title{
    height:100px;
    display:flex;
    align-items: center;
    justify-content:center;
}
.container-search{
    height:40px;
    padding: 5px;
}
.element-search{
    height: 30px;
margin-top: auto;
margin-bottom: auto;
}
.select-sm {
    width: 100%;
    height: 30px;
margin-top: auto;
margin-bottom: auto;
}
.button-search{
padding:0px 10px;
}
.derecha{
    width:100%;
    height: 40px;
}
.container-filter-sm{
display: block;
height:40px;
padding: 5px;
width: 40%;
float: left;
}
.container-sort-sm{
    display: block;
    height:40px;
    padding: 5px;
    width:40%;
    float: left;
}
.cell {  
    background:rgb(243, 244, 245); 
    outline: 1px solid rgb(225, 65, 185);
    padding: auto; 
 }
.f-l {
    float: left;

}
   /* .container-interaction {
display: none;
  }  */
 .container-pokemons {
    width: 100%;
     /* width:85%; */
 }
 .pokemoncitos{
     float: left;
     display: block;
     width: 48%;
     margin: 0 3px 5px 3px;
     /* margin-bottom: 5px; */
     background-color: blue;
     color: white;
 }
 /* desktop */
 @media  (min-width: 600px){
    .container-filter-sm, .container-sort-sm{
    float:none;
    outline: 0px;
    height: 40vh;
    width: 100%
      } 
      .container-pokemons{
      width:85%;
    }
    .derecha{
        width: 15%;
        height: 80vh;
        display: block;
        float: left;
    }
    .pokemoncitos{
        width: 200px;
        display: inline-block;
    }
}