*{
    box-sizing: border-box;
}
body{
    margin:0%;
    padding: 0%;
}
.container-general{

margin-left: 5%;
margin-right:5%;
width:90%;
}
.row {
    clear: both;
}
/* .column {
    float: left;
    width: 10%;
} */
.title{
    float: left;
    width: 100%;
    text-align: center;
}
.buscar{
    float: left;
    width: 100%;
    text-align: center;
}
.root{
    float: right;
    width: 90%;
}
.filter-data{
    float: left;
    width: 10%;
}

.border {
    border-color:  blue;
    border-style: solid;
}
.backgraund-green {
    background-color: rgb(48, 177, 48);
}
.pokemon-class{
    float: left;
    height:18%;
  width: 18%;
  margin-left:1.66666666666666%;
  
}
.color{
    background-color: aquamarine;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }